<li>
    <!-- begin timeline-icon -->
    <div class="timeline-icon">
        <a href="javascript:;">&nbsp;</a>
    </div>
    <!-- end timeline-icon -->

    <!-- begin timeline-body -->
    <div class="container">
        <div class="timeline-body">
            <div class="row timeline-header">
                <div class="col-10 col-md-11 post-header align-content-center">
                    <h3>Dai un'occhiata a <%= community_reccomendation.body %>, potreste avere in comune più di quello che pensi</h3>
                    <small></small>
                </div>
            </div>

            <div class="row timeline-content pb-2">

                <div class="col">
                    <% if community_reccomendation.resource_img %>
                        <div class="profile-header-img">
                            <img src="<%=community_reccomendation.resource_img%>" alt="">
                        </div>
                    <% end %>
                </div>

                <div class="col">
                    <span class="username" style="font-size:80%"><a href="/communities/<%= community_reccomendation.community.id.to_s %>"><%= community_reccomendation.community.name %></a></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <%= button_to "OK", community_reccomendation_path(community_reccomendation), class:"btn btn-primary", :method=>:put %>
                </div>

                <div class="col">
                    <%= button_to "Entra in community", create_user_community_participation_path(recc_id: community_reccomendation.id, user_id: current_user.id, community_id: community_reccomendation.community.id), class:"btn btn-outline-success"%>
                </div>

            </div>
            
        </div>
    </div>
    <!-- end timeline-body -->
</li>