<p style="color: green"><%= notice %></p>

<%= render @reccomendation %>

<div>
  <%= link_to "Edit this reccomendation", edit_reccomendation_path(@reccomendation) %> |
  <%= link_to "Back to reccomendations", reccomendations_path %>

  <%= button_to "Destroy this reccomendation", @reccomendation, method: :delete %>
</div>
