<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.88.1">
        <title>Offcanvas navbar template · Bootstrap v5.1</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->

    </head>
    <body class="bg-light">
        <%= render "partials/navbar" %>
        <div style="padding: 40pt"></div>
        
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="<%=@user.images[0]['url']%>" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5"><%=@user.display_name%></h4>
                        <h2 class="m-t-10 m-b-5">id: <%=@user.id%></h4>
                        <p class="m-b-10">La maremma è maiala</p>
                        <a href="#" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                     </div>
                     <!-- END profile-header-info -->
                     <div class="pt-2">
                        <span><%= String(@posts.count()) %> post</span>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#followersModal">
                        <%= String(@u.followers.length()) %> Followers
                        </button>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#followingModal">
                        <%= String(@u.followings.length()) %> Following
                        </button>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#communityModal">
                        <%= String(@communities.count()) %> Community
                        </button>
                        <section id="all-links"class="mt-2">
                            <% if @u.uid == current_user.uid %>
                                <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, :class => "btn btn-outline-warning" %>
                            <% elsif current_user.followings.include?(@u) %>
                                <h5><%= button_to "Unfollow",unfollow_user_path, method: "POST",:class => "btn btn-outline-danger" %></h5>
                            <% else %>
                                <h5><%= button_to "Follow", follow_user_path, method: "POST", :class => "btn btn-outline-success" %></h5>
                            <% end%>
                            
                            <br>
                        </section>
                        
                           
                      
                        <!-- Modal -->
                        <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="followingModalLabel">Following</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <% @u.followings.each  do |following| %>
                                    <a href="/user/<%= String(following.uid) %>" ><%= following.uid %></a><br>
                                 <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <% @u.followers.each  do |followers| %>
                                    <a href="/user/<%= String(followers.uid) %>" ><%= followers.uid %></a><br>
                                 <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="communityModal" tabindex="-1" aria-labelledby="communityModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="communityModalLabel">Community</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <% @communities.each do |co| %>
                                    <a href="/communities/<%= String(co.id) %>" ><%= co.name %></a><br>
                                 <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                     </div>
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab 
                  <ul class="profile-header-tab nav nav-tabs">
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts" target="__blank" class="nav-link_">POSTS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-about" target="__blank" class="nav-link_">ABOUT</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos" target="__blank" class="nav-link_">PHOTOS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list" target="__blank" class="nav-link_ active show">FRIENDS</a></li>
                  </ul>-->
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->
                  <div class="tab-pane fade active show" id="profile-post">
                     <!-- begin timeline -->
                     <ul class="timeline">
                        <% @posts.each do |post| %>
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date"><%=post.created_at.to_fs(:short)%></span>
                              <span class="time"><%=post.created_at.to_fs(:short)%></span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="userimage"><img src="<%=post.user.avatar_url%>" alt=""></span>
                                 <span class="username"><a href="/user/<%= String(post.user.uid) %>"><%= post.user.uid %></a> <small></small></span>
                                 <div class="pull-right">
                                <% if post.user == current_user%>
                                  <span><%= button_to "Modifica", edit_post_path(post), method: :get %></span>
                                  <span><%= button_to "Elimina", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %></span>
                                <% end %>
                                  <span class="text-muted">
                                    ultima modifica: <%=post.updated_at.to_fs(:short)%> 
                                  </span>
                                  </div>
                              </div>
                              <div class="timeline-content">
                                <h3><%= post.title %></h3>
                                <p><%= post.body %></p>
                              </div>
                              <div class="timeline-likes">
                                 <div class="stats-right">
                                    <span class="stats-text"><%= post.comments.count %> Commenti</span>
                                 </div>
                                 <div class="stats">
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <span class="stats-total"><%= post.reactions.where(like: true).count %></span>
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                                    <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <span class="stats-total"><%= post.reactions.where(like: false).count %></span>
                                 </div>
                              </div>
                              <div class="timeline-footer">
                                  <% if post.reactions.where(uid: current_user.uid).first %>
                                    <% @reaction = post.reactions.where(uid: current_user.uid).first %>
                                    <% if @reaction.like == true %>
                                      <%= button_to "Mi piace", post_reaction_path(post.id, @reaction.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete%>
                                      <%= button_to "Non mi piace", update_post_reaction_path(post.id, @reaction.id), method: :get%>
                                    <% else %>
                                      <%= button_to "Mi piace", update_post_reaction_path(post.id, @reaction.id), method: :get%>
                                      <%= button_to "Non mi piace", post_reaction_path(post.id, @reaction.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete%>
                                    <% end %>
                                  <% else %>
                                    <%= render "reactions/like", post: post %>
                                    <%= render "reactions/dislike", post: post %>
                                  <% end %>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i></a>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-down fa-fw fa-lg m-r-3"></i></a>
                                  <!--<a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Commenta</a> -->
                              </div>
                              <div class="timeline-comment-box">
                              <% post.comments.each do |comment| %>
                                <%= render "comments/comment", post: post, comment: comment%>
                              <% end %> 
                                 <div class="user"><img src="<%=current_user.avatar_url%>"></div>
                                 <div class="input">
                                  <%= form_with model: [ post, post.comments.build ] do |form| %>
                                      <%= form.text_field :body %>
                                      <%= form.submit "commenta" %>
                                  <% end %>
                                    <!--<form action="">
                                       <div class="input-group">
                                          <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                                          <span class="input-group-btn p-l-10">
                                          <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                          </span>
                                       </div>
                                    </form>-->
                                 </div>
                              </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        <% end %>
                  </div>
                  <!-- end #profile-post tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
        
    </body>
</html>