<%= render "partials/navbar" %>
<div class="row justify-content-center">
    <div style="padding: 70px"></div> 
        <div class="col-sm-8 col-md-6 ">
        <h1>Chats</h1>
            <%= link_to "New Chat", new_chat_path %>
            <ul class="list-group">
            <% @chats.each do |chat| %>
                <% if chat.user1==current_user %>
                    <li class="list-group-item">   
                        <%= link_to chat.user2.email, chat %>
                        <%= button_to "Elimina", chat_path(chat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                    </li>
                <% elsif chat.user2==current_user%>
                    <li class="list-group-item">
                        <%= link_to chat.user1.email, chat %>
                        <%= button_to "Elimina", chat_path(chat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </div>
    </div>
</div>

    



