<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Offcanvas navbar template · Bootstrap v5.1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="bg-light">
    <%= render "partials/navbar" %>
    <div style="padding: 20pt"></div>
    <main class="container">
      <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">
          <!-- begin #profile-post tab -->
          <div class="tab-pane fade active show" id="profile-post">
            <!-- begin timeline -->
            <ul class="timeline">
              <!-- TUTTI I POST DELLE PERSONE -->
              <% @posts.where(community_id: nil).each do |post| %>
                <li>
                  <!-- begin timeline-time -->
                  <div class="timeline-time">
                    <span class="date"><%=post.created_at.to_fs(:short)%></span>
                    <span class="time"><%=post.created_at.to_fs(:short)%></span>
                  </div>
                  <!-- end timeline-time -->
                  <!-- begin timeline-icon -->
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <!-- end timeline-icon -->
                  <!-- begin timeline-body -->
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"><img src="<%=post.user.avatar_url%>" alt=""></span>
                      <span class="username"><a href="/user/<%= String(post.user.uid) %>"><%= post.user.uid %></a> <small></small></span>
                      <div>
                        <span class="text-muted">
                          ultima modifica: <%=post.updated_at.to_fs(:short)%>
                          <% if post.user == current_user%>
                            <%= link_to "Modifica", edit_post_path(post), method: :get %>
                            <%= link_to "Elimina", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                    <div class="timeline-content">
                      <h3><%= post.title %></h3>
                      <p><%= post.body %></p>
                    </div>
                    <div class="timeline-likes">
                      <div class="stats-right">
                        <span class="stats-text"><%= post.comments.count %> Commenti</span>
                      </div>
                      <div class="stats">
                        <span class="fa-stack fa-fw stats-icon">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="stats-total"><%= post.reactions.where(like: true).count %></span>
                        <span class="fa-stack fa-fw stats-icon">
                          <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                          <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="stats-total"><%= post.reactions.where(like: false).count %></span>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <div style="float: left; width: auto;">
                        <%= render "reactions/like", post: post %>
                      </div>
                      <div style="float: left; width: auto;">
                        <%= render "reactions/dislike", post: post %>
                      </div>
                    </div>
                    <div class="timeline-comment-box">
                      <% post.comments.each do |comment| %>
                        <%= render "comments/comment", post: post, comment: comment%>
                      <% end %>
                      <div class="user"><img src="<%=current_user.avatar_url%>"></div>
                      <div class="input">
                        <%= form_with model: [ post, post.comments.build ] do |form| %>
                          <%= form.text_field :body %>
                          <%= form.submit "commenta" %>
                        <% end %>
                        <!--<form action="">
                           <div class="input-group">
                              <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                              <span class="input-group-btn p-l-10">
                              <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                              </span>
                           </div>
                        </form>-->
                      </div>
                    </div>
                  </div>
                  <!-- end timeline-body -->
                </li>
              <% end %>
              <!-- TUTTI I POST DELLE COMMUNITY -->
              <% @communities.each do |community| %>
                <% community_posts = community.posts.all %>
                <% community_posts.each do |community_post| %>
                  <li>
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date"><%=community_post.created_at.to_fs(:short)%></span>
                      <span class="time"><%=community_post.created_at.to_fs(:short)%></span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage"><img src="<%=community_post.user.avatar_url%>" alt=""></span>
                        <span class="username"><a href="/user/<%= String(community_post.user.uid) %>"><%= community_post.user.uid %></a> <small>su <a href="/communities/<%= String(community.id) %>"><%= community.name %></a></small></span>
                        <div>
                          <span class="text-muted">
                            ultima modifica: <%=community_post.updated_at.to_fs(:short)%>
                            <% if community_post.user == current_user%>
                              <%= link_to "Modifica", edit_post_path(community_post), method: :get %>
                              <%= link_to "Elimina", post_path(community_post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                            <% end %>
                          </span>
                        </div>
                      </div>
                      <div class="timeline-content">
                        <h3><%= community_post.title %></h3>
                        <p><%= community_post.body %></p>
                      </div>
                      <div class="timeline-likes">
                        <div class="stats-right">
                          <span class="stats-text"><%= community_post.comments.count %> Commenti</span>
                        </div>
                        <div class="stats">
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="stats-total"><%= community_post.reactions.where(like: true).count %></span>
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="stats-total"><%= community_post.reactions.where(like: false).count %></span>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <div style="float: left; width: auto;">
                          <%= render "reactions/like", post: community_post %>
                        </div>
                        <div style="float: left; width: auto;">
                          <%= render "reactions/dislike", post: community_post %>
                        </div>
                      </div>
                      <div class="timeline-comment-box">
                        <% community_post.comments.each do |comment| %>
                          <%= render "comments/comment", post: community_post, comment: comment%>
                        <% end %>
                        <div class="user"><img src="<%=current_user.avatar_url%>"></div>
                        <div class="input">
                          <%= form_with model: [ community_post, community_post.comments.build ] do |form| %>
                            <%= form.text_field :body %>
                            <%= form.submit "commenta" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <!-- end #profile-post tab -->
        </div>
        <!-- end tab-content -->
      </div>
      <div>
        <%= render "search/form" %>
      </div>
    </main>
  </body>
</html>
