<li>
    <!-- begin timeline-icon -->
    <div class="timeline-icon">
        <a href="javascript:;">&nbsp;</a>
    </div>
    <!-- end timeline-icon -->

    <!-- begin timeline-body -->
    <div class="container">
        <div class="timeline-body">
            <div class="row timeline-header">
                <div class="col-10 col-md-11 post-header align-content-center">
                    <h3>Dai un'occhiata a <%= user_reccomendation.body %>, potreste avere in comune più di quello che pensi</h3>
                    <small></small>
                </div>
            </div>

            <div class="row timeline-content pb-2">

                <div class="col">
                    <% if user_reccomendation.resource_img %>
                        <div class="profile-header-img">
                            <img src="<%=user_reccomendation.resource_img%>" alt="">
                        </div>
                    <% end %>
                </div>

                <div class="col">
                    <span class="username" style="font-size:80%"><a href="/users/<%= user_reccomendation.resource.uid.to_s %>"><%= user_reccomendation.resource.name %></a></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <%= button_to "OK", user_reccomendation_path(user_reccomendation), class:"btn btn-primary", :method=>:put %>
                </div>

                <div class="col">
                    <%= button_to "Follow", follow_user_path(uid: user_reccomendation.resource.uid, recc_id: user_reccomendation.id), class: "btn btn-outline-success mb-2", method: "POST" %>
                </div>

            </div>
            
        </div>

    </div>
    <!-- end timeline-body -->
</li>