<div>
<%= form_with(url: search_spotify_path, method: :post, class:"ms-2 col-6") do |form| %>
    <% @results = Community.all.name + User.all.name%>
    <%= form.search_field :name_search, placeholder: "Cerca canzoni artisti album o playlists", class: "form-control",oninput:"this.form.requestSubmit()" %>
<% end %>
<div id="spotify_results" class="row"></div>
</div>
<script>
    function select(btn_id) {
        var sc = document.getElementById("post_spotify_content");
        var si = document.getElementById("spotify_iframe");
        var input = document.getElementById("name_search");
        var results = document.getElementById("spotify_results");
        sc.value=btn_id;
        si.innerHTML='<iframe style="border-radius:12px" src="https://open.spotify.com/embed?uri='+btn_id+'" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>';
        input.value=null;
        //results.removeChild(results.parentNode);

        
    }
</script>

<% if community == nil %>
    <%= form_with model: @post do |form| %>
        <div>
            <%= form.label :spotify_content %>
            <%= form.text_field :spotify_content, disabled: true %>
            <div id="spotify_iframe">
            </div>
        </div>

        <div>
            <%= form.label :body %>
            <%= form.text_area :body %>
        </div>

        <div>
            <%= form.submit %>
        </div>
    <% end %>
<% else %>
    <%= form_with model: [community, community.posts.build] do |form| %>
        <div>
            <%= form.label :spotify_content %>
            <%= form.text_field :spotify_content, disabled: true  %>
        </div>

        <div>
            <%= form.label :body %>
            <%= form.text_area :body %>
        </div>

        <% if post.community_id == nil %>
            <%= form.hidden_field :community_id, value: community.id%>
        <% end %>

        <div>
            <%= form.submit %>
        </div>

    <% end %>
<% end %>