
<p><%= post.body %></p>
        <p> Mi piace: <%= post.reactions.where(like: true).count %></p>
        <p> Non mi piace: <%= post.reactions.where(like: false).count %></p>
        <% if post.reactions.where(uid: current_user.uid).first %>
          <% @reaction = post.reactions.where(uid: current_user.uid).first %>
          <% if @reaction.like == true %>
            <%= button_to "Mi piace", post_reaction_path(post.id, @reaction.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete%>
            <%= button_to "Non mi piace", update_post_reaction_path(post.id, @reaction.id), method: :get%>
          <% else %>
            <%= button_to "Mi piace", update_post_reaction_path(post.id, @reaction.id), method: :get%>
            <%= button_to "Non mi piace", post_reaction_path(post.id, @reaction.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete%>
          <% end %>
        <% else %>
          <%= render "reactions/like", post: post %>
          <%= render "reactions/dislike", post: post %>
        <% end %>
        <% if post.user == current_user%>
          <%= button_to "Modifica", edit_post_path(post), method: :get %>
          <%= button_to "Elimina", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
        <% end %>