<li>
    <!-- begin timeline-time -->
    <div class="timeline-time">

        <span class="time"><%=post.created_at.to_fs(:short)%></span>
    </div>
    <!-- end timeline-time -->
    <!-- begin timeline-icon -->
    <div class="timeline-icon">
        <a href="javascript:;">&nbsp;</a>
    </div>
    <!-- end timeline-icon -->
    <!-- begin timeline-body -->
    <div class="timeline-body">
        <div class="row timeline-header">
            <div class="col-10 col-md-11 post-header align-content-center">
                <span class="userimage"><img src="<%=post.user.avatar_url%>" alt="" width="32" height="32" class="rounded-circle"></span>
                <span class="username"><a href="/user/<%= String(post.user.uid) %>"><%= post.user.name %></a></span>
                <%if post.community_id && communities!=nil%>
                <span class="username" style="font-size:80%"> >> <a href="/communities/<%= String(post.community_id) %>"><%= communities.where(id: post.community_id).first().name %></a></span>
                <%end%>
                <small></small>
            </div>
            <div class="col-1 justify-content-end" > 
                <a class="nav-link" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown01">
                <% if current_modder%>
                    <li><%= link_to "Elimina", post_path(post),class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %></li>
                <% elsif post.user == current_user%>
                    <li><%= link_to "Modifica", edit_post_path(post),class: "dropdown-item", method: :get %></li>
                    <li><%= link_to "Elimina", post_path(post),class: "dropdown-item", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %></li>
                <% end %>
            </div>
        </div>
        <div class="timeline-content">
            <h3><%= post.title %></h3>
            <p><%= post.body %></p>
        </div>
        <div class="timeline-likes">
            <div class="stats-right">
                <span class="stats-text"><%= post.comments.count %> Commenti</span>
            </div>
            <div class="row stats">
                <div class="stats-icon"style="float: left; width: auto;">
                <%= render "reactions/like", post: post %>
                </div>
                <div class="col-1 stats-total" style="padding-left: 0px; margin-top: 4px"><h5><%= post.reactions.where(like: true).count %></h5></div>
                <div class="stats-icon" style="float: left; width: auto;">
                <%= render "reactions/dislike", post: post %>
                </div>
                <div class="col-1 stats-total" style="padding-left: 0px; margin-top: 4px"><h5><%= post.reactions.where(like: false).count %></h5></div>
            </div>
        </div>
        
        <div class="timeline-comment-box row" >
            <ul class="list-group">
                <% post.comments.each do |comment| %>
                <%= render "comments/comment", post: post, comment: comment%>
                <% end %>
                
            </ul>
            <%unless current_modder%>
            <div class="col-12 form-group input " style= "padding-left: 0px">
                <%= form_with model: [ post, post.comments.build ] do |form| %>
                    <div class="input-group" style="padding-top: 10px">
                        <%= form.text_field :body,class:"form-control comment-content" %>
                        <%= form.submit "Invia",class: 'btn btn-primary', style:"font: 10px" %>
                    </div>
                <% end %>
            </div>
            <%end%>
        </div>
    </div>
    <!-- end timeline-body -->
</li>
<script>
function HideShow<%=post.id %>() {
  var x = document.getElementById("comment_post_<%=post.id %>");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
