<li>
    <!-- begin timeline-time -->
    <div class="timeline-time">
        <span class="date"><%=post.created_at.to_fs(:short)%></span>
        <span class="time"><%=post.created_at.to_fs(:short)%></span>
    </div>
    <!-- end timeline-time -->
    <!-- begin timeline-icon -->
    <div class="timeline-icon">
        <a href="javascript:;">&nbsp;</a>
    </div>
    <!-- end timeline-icon -->
    <!-- begin timeline-body -->
    <div class="timeline-body">
    <div class="timeline-header">
        <span class="userimage"><img src="<%=post.user.avatar_url%>" alt=""></span>
        <span class="username"><a href="/user/<%= String(post.user.uid) %>"><%= post.user.uid %></a></span>
        <%if post.community_id%>
        <span class="username" style="font-size:80%"> >> <a href="/communities/<%= String(post.community_id) %>"><%= communities.where(id: post.community_id).first().name %></a></span>
        <%end%>
        <small></small>
        <div>
            <span class="text-muted">
                ultima modifica: <%=post.updated_at.to_fs(:short)%>
                <% if current_modder%>
                <%= link_to "Elimina", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                <% elsif post.user == current_user%>
                <%= link_to "Modifica", edit_post_path(post), method: :get %>
                <%= link_to "Elimina", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                <% end %>
                
            </span>
        </div>
    </div>
    <div class="timeline-content">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
    </div>
    <div class="timeline-likes">
        <div class="stats-right">
            <span class="stats-text" onclick="HideShow<%=post.id %>()"><%= post.comments.count %> Commenti</span>
        </div>
        <div class="stats">
            <span class="fa-stack fa-fw stats-icon">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
            <span class="stats-total"><%= post.reactions.where(like: true).count %></span>
            <span class="fa-stack fa-fw stats-icon">
                <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
            </span>
            <span class="stats-total"><%= post.reactions.where(like: false).count %></span>
        </div>
    </div>
    <div class="timeline-footer">
        <div style="float: left; width: auto;">
        <%= render "reactions/like", post: post %>
        </div>
        <div style="float: left; width: auto;">
        <%= render "reactions/dislike", post: post %>
        </div>
    </div>
    <div class="timeline-comment-box" id="comment_post_<%=post.id %>" style="display: none">
        <% post.comments.each do |comment| %>
        <%= render "comments/comment", post: post, comment: comment%>
        <% end %>
        <%unless current_modder%>
        <div class="user"><img src="<%=current_user.avatar_url%>"></div>
        <div class="input">
            <%= form_with model: [ post, post.comments.build ] do |form| %>
            <%= form.text_field :body %>
            <%= form.submit "commenta" %>
            <% end %>
        </div>
        <%end%>
    </div>
    </div>
    <!-- end timeline-body -->
    </li>
<script>
function HideShow<%=post.id %>() {
  var x = document.getElementById("comment_post_<%=post.id %>");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>