<%= form_with model: [community]  do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :playlist %>
        <%= form.text_area :playlist %>
    </div>

    <div>
        <%= form.hidden_field :creator, value: current_user.uid %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>