<%= form_with model: [community] do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
    <% if @playlist != [] %>
    <div>
    <label> Playlist </label>
        <select name="community[playlist]" id="community_playlist" is="ms-dropdown">
            <% @playlist.each.with_index do |p, index| %>
                <option data-image="<%=p.images[0]['url']%>" value="<%= p.id %>"><%= p.name %></option>
            <% end %>
        </select>
    </div>   
    <div>
        <%= form.submit %>
    </div>
    <% else %>
    <div>
    <p class="text-danger">Non hai alcuna playlist Spotify! Creane una e poi potrai creare una community.
    </div>
    <% end %>
<% end %>