<%= form_with model: [community]  do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <% @playlist.each do |p| %>
            <div class="form-check" required>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="<%= p.id %>">
                <label class="form-check-label" for="<%= p.id %>">
                <%= p.name %>
                </label>
                <img src="<%=p.images[0]['url']%>" width='20px', heigth='20px'>
            </div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>