<h2> <%= @community.name %> di <%= @community.creator %> </h2> 
<%= button_to "Modifica Community", edit_community_path(community_id: @community.id), method: :get %>
<%= button_to "Elimina Community", community_path(community_id: @community.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
<p> <%= @community.description %> </p>
<%= button_to "Sei membro della community? Crea post!", new_community_post_path(@community.id), method: :get %>
<% @posts.each do |community_post| %>
    <p><%= community_post.title %> di <%= community_post.user.uid %> in <%= @community.name %> </p>
    <%= render "posts/post", post: community_post %>
    <% community_post.comments.each do |comment| %>
        <%= render "comments/comment", post: community_post, comment: comment%>
    <% end %>
    <%= render "comments/form", post: community_post, comment: community_post.comments.build, submit_label: "Create" %>
<% end %>
