<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Offcanvas navbar template · Bootstrap v5.1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>
  <% if !@user_participation.present? || (@user_participation.present? && !@user_participation.banned)%>
    <body class="bg-light">
      <%= render "partials/navbar" %>
      <div style="padding: 40pt"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="content" class="content content-full-width">
              <!-- begin profile -->
              <div class="profile">
                <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                    <!-- BEGIN profile-header-img -->
                    <div class="profile-header-img">
                      <img src="<%=@playlist.images[0]['url']%>" alt="">
                    </div>
                    <!-- END profile-header-img -->
                    <!-- BEGIN profile-header-info -->
                    <div class="profile-header-info">
                      <h4 class="m-t-10 m-b-5"><%= @community.name %></h4>
                      <p class="m-b-10"><%= @community.description %></p>
                    </div>
                    <!-- END profile-header-info -->
                    <div class="mt-5">
                      <span class="ms-2"><%= String(@posts.count()) %> post</span>
                      <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#iscrittiModal">
                        Iscritti
                      </button>
                    <% if @user_participation.present? && @user_participation.user_id == current_user.id && (@user_participation.role=="admin" || @user_participation.role=="moderator") %>
                      <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#gestioneModal">
                        Gestione Iscritti
                      </button>
                    <% end %>
                      <% if @user_participation.present? && @user_participation.role == "admin" %>
                        <%= link_to "Modifica Community", edit_community_path(community_id: @community.id), class:"btn btn-outline-warning", method: :get %>
                        <%= link_to "Elimina Community", community_path(community_id: @community.id), class:"btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                      <% elsif current_user.participations.where(community_id: @community.id).first == nil %>
                        <%= link_to "Entra in community", create_user_community_participation_path(user_id: current_user.id, community_id: @community.id), class:"btn btn-outline-success"%>
                      <% elsif current_user.participations.where(community_id: @community.id, role: :member).first %>
                        <%= link_to "Abbandona community", user_community_participation_path(user_id: current_user.id, community_id: @community.id),class:"btn btn-outline-danger",  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                      <% end %>
                    
                      <!-- Modal -->
                      <div class="modal fade" id="iscrittiModal" tabindex="-1" aria-labelledby="iscrittiModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="iscrittiModalLabel">Iscritti</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                             <% @community.participations.each do |participation| %>
                                <% if !participation.banned && (participation.role == "admin" || participation.role == "moderator")  %>
                                  <a href="/user/<%= String(participation.user.uid) %>" ><%= participation.user.uid %></a>  <strong class="text-dark">(<%= participation.role %>)</strong><br>
                                <% elsif !participation.banned %>
                                  <a href="/user/<%= String(participation.user.uid) %>" ><%= participation.user.uid %></a>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% if @user_participation.present? && @user_participation.user_id == current_user.id && (@user_participation.role=="admin" || @user_participation.role=="moderator") %>
                      <div class="modal fade" id="gestioneModal" tabindex="-1" aria-labelledby="gestioneModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="gestioneModalLabel">Gestione utenti</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <% @community.participations.each do |participation| %>
                                <% if participation.banned%>
                                  <a href="/user/<%= String(participation.user.uid) %>" ><%= participation.user.uid %></a> <strong class="text-dark"><%= link_to "Riammetti", unban_user_community_participation_path(user_id: participation.user_id, community_id: @community.id) %></strong><br>
                                <% elsif !participation.banned && participation.role=="modder"  %>
                                  <a href="/user/<%= String(participation.user.uid) %>" ><%= participation.user.uid %></a> <strong><%= link_to "Bandisci utente", ban_user_community_participation_path(user_id: participation.user_id, community_id: @community.id), class:"text-dark"%> <%= link_to "Rendi proprietario", move_user_community_participation_path(user_id: participation.user_id, community_id: @community.id), class:"text-dark" %></strong><br> 
                                <% elsif !participation.banned && participation.role=="member"  %>
                                  <a href="/user/<%= String(participation.user.uid) %>" ><%= participation.user.uid %></a> <strong><%= link_to "Bandisci utente", ban_user_community_participation_path(user_id: participation.user_id, community_id: @community.id), class:"text-dark"%> <%= link_to "Promuovi a moderatore", promote_user_community_participation_path(user_id: participation.user_id, community_id: @community.id), class:"text-dark" %></strong><br>

                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    </div>
                  </div>
                  <!-- END profile-header-content -->
                </div>
              </div>
              <!-- end profile -->
              <!-- begin profile-content -->
              <iframe class="pt-2" style="border-radius:20px; margin: 0 auto; display:block; " src="https://open.spotify.com/embed/playlist/<%=@playlist.id%>?utm_source=generator" width="75%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              <div class="profile-content row">
                <% if @user_participation.present? %>
                  <%= link_to "Crea un nuovo post", new_community_post_path(@community.id),class:"btn btn-outline-success", method: :get %>
                <% end %>
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->
                  <div class="tab-pane fade active show" id="profile-post">
                    <!-- begin timeline -->
                    <ul class="timeline">
                      <% @posts.each do |community_post| %>
                        <li>
                          <!-- begin timeline-time -->
                          <div class="timeline-time">
                            <span class="date"><%=community_post.created_at.to_fs(:short)%></span>
                            <span class="time"><%=community_post.created_at.to_fs(:short)%></span>
                          </div>
                          <!-- end timeline-time -->
                          <!-- begin timeline-icon -->
                          <div class="timeline-icon">
                            <a href="javascript:;">&nbsp;</a>
                          </div>
                          <!-- end timeline-icon -->
                          <!-- begin timeline-body -->
                          <div class="timeline-body">
                            <div class="timeline-header">
                              <span class="userimage"><img src="<%=community_post.user.avatar_url%>" alt=""></span>
                              <span class="username"><a href="/user/<%= String(community_post.user.uid) %>"><%= community_post.user.uid %></a> <small>su <a href="/communities/<%= String(@community.id) %>"><%= @community.name %></a></small></span>
                              <span class="text-muted">
                                ultima modifica: <%=community_post.updated_at.to_fs(:short)%>
                                <% if community_post.user == current_user%>
                                  <%= link_to "Modifica", edit_post_path(community_post), method: :get %>
                                  <%= link_to "Elimina", post_path(community_post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
                                <% end %>
                              </span>
                            </div>
                            <div class="timeline-content">
                              <h3><%= community_post.title %></h3>
                              <p><%= community_post.body %></p>
                            </div>
                            <div class="timeline-likes">
                              <div class="stats-right">
                                <span class="stats-text"><%= community_post.comments.count %> Commenti</span>
                              </div>
                              <div class="stats">
                                <span class="fa-stack fa-fw stats-icon">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="stats-total"><%= community_post.reactions.where(like: true).count %></span>
                                <span class="fa-stack fa-fw stats-icon">
                                  <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                                  <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="stats-total"><%= community_post.reactions.where(like: false).count %></span>
                              </div>
                            </div>
                            <div class="timeline-footer">
                              <div style="float: left; width: auto;">
                                <%= render "reactions/like", post: community_post %>
                              </div>
                              <div style="float: left; width: auto;">
                                <%= render "reactions/dislike", post: community_post %>
                              </div>
                            </div>
                            <div class="timeline-comment-box">
                              <% community_post.comments.each do |comment| %>
                                <%= render "comments/comment", post: community_post, comment: comment%>
                              <% end %>
                              <div class="user"><img src="<%=current_user.avatar_url%>"></div>
                              <div class="input">
                                <%= form_with model: [ community_post, community_post.comments.build ] do |form| %>
                                  <%= form.text_field :body %>
                                  <%= form.submit "commenta" %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <!-- end timeline-body -->
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <!-- end #profile-post tab -->
                </div>
                <!-- end tab-content -->
              </div>
              <!-- end profile-content -->
            </div>
          </div>
        </div>
      </div>
      <script>
      window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            width: '100%',
            heigth:'200'
            uri: 'spotify:playlist:<%=@playlist.id%>'
          };
        let callback = (EmbedController) => {};
        IFrameAPI.createController(element, options, callback);
      };
      </script>
    </body>
  <% elsif %>
    <p>SEI BANNATO, <%= link_to "TORNA ALLA HOME", root_path %> </p>
  <% end %>
</html>
